<h1>Wall</h1>
<hr>
<!-- <div class="col-sm-12">
      <input type="text" class="form-control" placeholder="Serch people by name, email, or location..." ng-model="searchFilter">
      <br>
  </div> -->
<div class="col-sm-12">
    <form ng-submit="post()">
        <input type="text" class="form-control" placeholder="Post your message" ng-model="post.body">
        <br>
        <button type="submit" class="btn btn-primary btn-xs">
            Post
        </button>
    </form>
    <br>
</div>
<!-- <h4>{{(users | filter: searchFilter).length}} users found</h4> -->
<div class="col-sm-8 col-sm-offset-4" ng-repeat="post in posts">
    <div class="list-group" style="cursor: pointer;">
        <span href="#" class="list-group-item">
            <h5 class="list-group-item-text"><i class="fa fa-user"></i> {{post.body}}</h5>
            <h5 class="list-group-item-text"><i class="fa fa-user"></i> {{post.user[0].username}}</h5>
            <h5 class="list-group-item-text"><i class="fa fa-user"></i> {{post.time}}</h5>
            <br>
            <!-- <button type="button" class="btn btn-link btn-xs like" ng-click="like(post)"><span>{{post.likes.length}}</span> Like <i ng-if="!thumbUp(post.likes)" class="fa fa-thumbs-o-up" aria-hidden="true"></i><i ng-if="thumbUp(post.likes)" class="fa fa-thumbs-up" aria-hidden="true"></i></button> -->
            <button type="button" class="btn btn-link btn-xs like" ng-click="like(post)"><span>{{post.likes.length}}</span> Like <i ng-if="post.likes.indexOf(currentUser._id)==-1 || post.thumbUp == false" class="fa fa-thumbs-o-up" aria-hidden="true"></i><i ng-if="post.likes.indexOf(currentUser._id)>-1 || thumbUp == true" class="fa fa-thumbs-up" aria-hidden="true"></i></button>
        </span>
    </div>
</div>
